<a href="https://colab.research.google.com/github/joje3029/AI_Study/blob/main/2023_07_20_%ED%8C%90%EB%8B%A4%EC%8A%A4%EA%B8%B0%EC%B4%88_%EC%A7%91%EA%B3%84%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
st1=pd.read_excel('/content/students.xlsx')
df1=pd.read_excel('/content/거래내역조회.xlsx')

In [87]:
# 문제 5. 학생 성적데이터를 사용하여 풀어주세요.

# 1. 각 지역별 국, 영, 수 평균
st1['평균']=st1[['국어','영어','수학']].mean(axis=1)
grouped=st1.groupby('지역명')['평균'].mean()
grouped
# 2. 가장 평균 성적이 좋은 도시는?
topCity=grouped.idxmax()
# 3. 생년월일에서 월별로 학생들의 수를 구해주세요.
st1['생년월일']=st1['생년월일'].astype(str)
st1['월일']=st1['생년월일'].str[5:7]
month=st1.groupby('월일').size()
month
# 4. 각 지역별로 평균이 80점 넘는 학생의 수
over=st1[st1['평균']>80]
count=over.groupby('지역명').size()
count
# 5. 각 지역별 평균 점수가 80점 미만인 지역은?
under=st1[st1['평균']<80]
lowCity=under.groupby('지역명').idxmin()
lowCity
# 6. 각 지역에서 점수대별 학생수 현황(90점대, 80점대, 70점대, 60점대 등)
score_bins=[0,60,70,80,90,100]
score_labels=['60점대','70점대','80점대','90점대','100점대']
st1['점수대']=pd.cut(st1['평균'],bins=score_bins, labels=score_labels)
groups=st1.groupby(['지역명','점수대']).size()
groups
# 7. 지역별 학생의 평균성적 top3
sorted_by_mean=st1.sort_values('평균', ascending=False)
threeLocal=sorted_by_mean.groupby('지역명').head(3)
threeLocal.sort_values(by=['지역명','점수대'])

<ipython-input-87-1e1add30abfe>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.idxmin is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  lowCity=under.groupby('지역명').idxmin()

    번호   이름  국어  영어  수학 지역명        생년월일         평균  월일    점수대
1    2  장민동  84  97  88  광주  2050-08-02  89.666667  08   90점대
10  11  이민은  94  91  98  광주  2050-09-07  94.333333  09  100점대
94  95  정현연  98  89  85  광주  2050-05-19  90.666667  05  100점대
93  94  이현진  97  96  72  대구  2050-08-04  88.333333  08   90점대
44  45  윤혜연  78  90  88  대구  2050-03-09  85.333333  03   90점대
88  89  박명희  83  94  94  대구  2050-07-02  90.333333  07  100점대
90  91  정철동  81  98  82  대전  2050-01-03  87.000000  01   90점대
41  42  정준수  90  78  83  대전  2050-08-23  83.666667  08   90점대
40  41  김명은  87  88  99  대전  2050-05-09  91.333333  05  100점대
79  80  김준수  93  95  66  부산  2050-02-08  84.666667  02   90점대
19  20  윤민연  82  89  72  부산  2050-11-24  81.000000  11   90점대
56  57  정현연  79  97  98  부산  2050-05-11  91.333333  05  100점대
83  84  장혜은  94  76  99  서울  2050-07-12  89.666667  07   90점대
15  16  이명동  96  68  97  서울  2050-03-21  87.000000  03   90점대
3    4  강혜희  99  95  79  서울  2050-05-27  91.000000  05  100점대
37  38  윤지연  90  80  86  울산  2050-10-10  85.333333  10   90점대
67  68  이혜운  83  97  97  울산  2050-10-05  92.333333  10  100점대
81  82  정준동  82  95  99  울산  2050-04-07  92.000000  04  100점대