<a href="https://colab.research.google.com/github/joje3029/AI_Study/blob/main/2023_07_20_%ED%8C%90%EB%8B%A4%EC%8A%A4%EA%B8%B0%EC%B4%88_%EC%A7%91%EA%B3%84%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
st1=pd.read_excel('/content/students.xlsx')
df1=pd.read_excel('/content/거래내역조회.xlsx')

In [ ]:
# 문제 5. 학생 성적데이터를 사용하여 풀어주세요.

# 1. 각 지역별 국, 영, 수 평균
st1['평균']=st1[['국어','영어','수학']].mean(axis=1)
grouped=st1.groupby('지역명')['평균'].mean()
grouped
# 2. 가장 평균 성적이 좋은 도시는?
topCity=grouped.idxmax()
# 3. 생년월일에서 월별로 학생들의 수를 구해주세요.
st1['생년월일']=st1['생년월일'].astype(str)
st1['월일']=st1['생년월일'].str[5:7]
month=st1.groupby('월일').size()
month
# 4. 각 지역별로 평균이 80점 넘는 학생의 수
over=st1[st1['평균']>80]
count=over.groupby('지역명').size()
count
# 5. 각 지역별 평균 점수가 80점 미만인 지역은?
under=st1[st1['평균']<80]
lowCity=under.groupby('지역명').idxmin()
lowCity
# 6. 각 지역에서 점수대별 학생수 현황(90점대, 80점대, 70점대, 60점대 등)
st1.groupby('평균')['지역명'].size()
# 7. 지역별 학생의 평균성적 top3

<ipython-input-65-1e73f4b3bdb8>:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.idxmin is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  lowCity=under.groupby('지역명').idxmin()

평균
62.333333    1
65.000000    1
66.666667    1
68.000000    1
68.666667    1
69.666667    2
70.333333    1
70.666667    2
71.000000    1
71.333333    1
71.666667    1
72.000000    1
72.666667    2
73.333333    2
73.666667    2
74.666667    2
75.333333    3
75.666667    2
76.000000    3
76.333333    3
76.666667    3
77.000000    2
77.333333    1
77.666667    1
78.000000    2
78.333333    2
78.666667    2
79.333333    4
79.666667    2
80.000000    3
80.333333    3
80.666667    3
81.000000    3
81.666667    3
82.000000    2
82.333333    2
82.666667    2
83.000000    2
83.333333    3
83.666667    1
84.333333    1
84.666667    1
85.333333    2
85.666667    1
87.000000    3
88.333333    1
88.666667    2
89.666667    2
90.333333    1
90.666667    1
91.000000    1
91.333333    2
92.000000    1
92.333333    1
94.333333    1
Name: 지역명, dtype: int64